# Node
node_modules/
npm-debug.log*
yarn-error.log
.pnpm-debug.log*
package-lock.json

# Cypress artifacts
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Reports
cypress/reports/
reports/
mochawesome-report/

# OS / IDE
.DS_Store
.idea/
.vscode/
